.tools-panel {
  margin-top: 55px;
  margin-inline-start: 17px;
  padding: 24px 12px;
  background-color: #323232;
  box-shadow: 0 12px 24px #00000033;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  border-radius: 12px;
  gap: 10px;
  color: var(--text);
  width: 80px;
  min-height: fit-content;

  & img {
    cursor: pointer;
  }

  &__btn {
    text-transform: unset !important;
    font-size: 0.7rem;
    color: var(--text);
    min-width: fit-content;
    border-radius: 12px;

    & > p {
      color: var(--text);
    }

    &--event-btn{
      animation: look 1.2s ease-in-out infinite;
      color: aqua !important;
    }
  }
}

@keyframes look {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(0.9);
  }
  100% {
    transform: scale(1);
  }
}

.details-popup {
  max-width: 380px;
  width: 50vw;
  padding: 10px;
  position: absolute;
  top: 50px;
  left: 150px;
  z-index: 2;
  background-color: rgba(30, 30, 30, 0.8);
  box-shadow: 0 12px 32px 0 rgba(0, 0, 0, 0.25);
  color: aliceblue;
}


@media screen and (max-width: 500px) {
  .tools-panel {
    min-height: fit-content;
    position: absolute;
    z-index: 1000;
    opacity: 0.5;
    transition: all 2s;

    &:hover {
      opacity: 1;
      transition: none;
    }
  }
}
