/* The following block can be included in a custom.scss */

/* make the customizations */
$grid-breakpoints: (
  xxs: 0,
  xs: 100px,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
  xxl: 1400px
);


/* import bootstrap to set changes */
@import 'bootstrap/scss/bootstrap';

